In [4]:
import pandas as pd
import numpy as np

In [5]:
data = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"

In [6]:
!wget $data

--2024-10-06 04:41:43--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv.1’

laptops.csv.1       100%[===================>] 291.58K  --.-KB/s    in 0.02s

2024-10-06 04:41:43 (12.7 MB/s) - ‘laptops.csv.1’ saved [298573/298573]

In [8]:
df = pd.read_csv('laptops.csv')

In [9]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [10]:
strings = df.dtypes[df.dtypes == 'object'].index

In [11]:
for col in strings:
    df[col] = df[col].str.lower().str.replace(' ','_')

In [12]:
df.head()

,laptop,status,brand,model,cpu,ram,storage,storage_type,gpu,screen,touch,final_price
0,asus_expertbook_b1_b1502cba-ej0436x_intel_core...,new,asus,expertbook,intel_core_i5,8,512,ssd,NaN,15.6,no,1009.00
1,alurin_go_start_intel_celeron_n4020/8gb/256gb_...,new,alurin,go,intel_celeron,8,256,ssd,NaN,15.6,no,299.00
2,asus_expertbook_b1_b1502cba-ej0424x_intel_core...,new,asus,expertbook,intel_core_i3,8,256,ssd,NaN,15.6,no,789.00
3,msi_katana_gf66_12uc-082xes_intel_core_i7-1270...,new,msi,katana,intel_core_i7,16,1000,ssd,rtx_3050,15.6,no,1199.00
4,hp_15s-fq5085ns_intel_core_i5-1235u/16gb/512gb...,new,hp,15s,intel_core_i5,16,512,ssd,NaN,15.6,no,669.01

In [17]:
hdf = df[['ram', 'storage', 'screen', 'final_price']]

In [18]:
hdf.isnull().sum()

ram            0
storage        0
screen         4
final_price    0
dtype: int64